In [1]:
import os 
os.chdir("..")
import perlib

In [3]:
pr = perlib.dataPrepration()
data = pr.read_data(path='/Users/ruzgarkanar/Documents/Myprojects/Swagger/perlib_backup/perlib/datasets/ayakkabı_günlük.csv')

In [4]:
#import pandas as pd
#data = pd.read_csv('/Users/ruzgarkanar/Documents/Myprojects/Swagger/perlib_backup/perlib/datasets/ayakkabı_günlük.csv')
#pr = perlib.dataPrepration(dataFrame=data)

In [6]:
pr.diff(col='Salecount')

0        NaN
1       2.00
2       2.00
3       1.00
4      -2.00
        ...
1181    0.00
1182    4.00
1183    5.00
1184    0.00
1185   -4.00
Name: Salecount, Length: 1186, dtype: float64

In [7]:
pr.gauss_Filter(col='Salecount',sigma=3)

0      18.83
1      18.70
2      18.39
3      17.89
4      17.19
        ...
1181   13.95
1182   14.56
1183   15.13
1184   15.57
1185   15.82
Length: 1186, dtype: float64

In [6]:
pr.moving_average(col='Salecount')

2      19.00
3      20.67
4      21.00
5      18.67
6      15.67
        ...
1181   11.67
1182   11.33
1183   14.33
1184   17.33
1185   17.67
Name: Salecount, Length: 1184, dtype: float64

In [7]:
pr.exponential_Smoothing(col='Salecount')

0        NaN
1      16.92
2      17.00
3      19.00
4      21.00
        ...
1181   15.00
1182   10.00
1183   10.00
1184   14.00
1185   19.00
Length: 1186, dtype: float64

In [8]:
pr.rolling_mean_diff(col='Salecount',window=3)

0        NaN
1        NaN
2        NaN
3       1.67
4       0.33
        ...
1181   -1.67
1182   -0.33
1183    3.00
1184    3.00
1185    0.33
Name: Salecount, Length: 1186, dtype: float64

In [9]:
pr.circ(dateColumn='Date')

,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,Total_cases,...,Bist100_min,Bist100_volume,CircHourX,CircHourY,CircWeekdayX,CircWeekdayY,CircDayX,CircDayY,CircMonthX,CircMonthY
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,17.00,338.00,286.00,2019,1,1,2,False,1,0,...,903.24,616240,1.00,0.00,0.42,-0.91,0.42,-0.91,1.00,0.02
2019-01-02,19.00,1174.00,995.00,2019,1,2,3,False,1,0,...,886.50,771040,1.00,0.00,-0.64,-0.77,-0.64,-0.77,1.00,0.03
2019-01-03,21.00,278.00,236.00,2019,1,3,4,False,1,0,...,873.99,959780,1.00,0.00,-0.97,0.25,-0.97,0.25,1.00,0.05
2019-01-04,22.00,1045.00,886.00,2019,1,4,5,False,1,0,...,878.94,918290,1.00,0.00,-0.18,0.98,-0.18,0.98,1.00,0.07
2019-01-05,20.00,139.00,118.00,2019,1,5,6,True,1,0,...,878.94,918290,1.00,0.00,0.81,0.58,0.81,0.58,1.00,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-27,10.00,NaN,NaN,2022,3,27,7,True,1,14800178,...,2173.64,"2,11B",1.00,0.00,0.87,-0.49,0.67,0.74,0.09,1.00
2022-03-28,14.00,NaN,NaN,2022,3,28,1,False,1,14814542,...,2170.24,"2,83B",1.00,0.00,1.00,0.00,0.96,-0.30,0.07,1.00
2022-03-29,19.00,NaN,NaN,2022,3,29,2,False,1,14830732,...,2181.76,"4,04B",1.00,0.00,0.42,-0.91,0.14,-0.99,0.06,1.00
2022-03-30,19.00,NaN,NaN,2022,3,30,3,False,1,14845725,...,2212.78,"3,58B",1.00,0.00,-0.64,-0.77,-0.84,-0.54,0.04,1.00
2022-03-31,15.00,NaN,NaN,2022,3,31,4,False,1,14860061,...,2220.79,"3,14B",1.00,0.00,-0.97,0.25,-0.85,0.53,0.02,1.00

In [10]:
pr.generate_time_lags(col='Salecount',n_lags=3)

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,lag1,lag2,lag3
3,2019-01-04,22.00,1045.00,886.00,2019,1,4,5,False,1,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,21.00,19.00,17.00
4,2019-01-05,20.00,139.00,118.00,2019,1,5,6,True,1,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,22.00,21.00,19.00
5,2019-01-06,14.00,238.00,202.00,2019,1,6,7,True,1,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,20.00,22.00,21.00
6,2019-01-07,13.00,280.00,237.00,2019,1,7,1,False,1,...,6.21,6.07,899.51,894.45,902.28,892.81,971550,14.00,20.00,22.00
7,2019-01-08,15.00,418.00,354.00,2019,1,8,2,False,1,...,6.31,6.15,906.97,902.48,907.76,893.62,981650,13.00,14.00,20.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,2020-09-26,4.00,124.00,115.00,2020,9,26,6,True,3,...,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000,5.00,5.00,4.00
635,2020-09-27,4.00,220.00,204.00,2020,9,27,7,True,3,...,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000,4.00,5.00,5.00
636,2020-09-28,4.00,391.00,337.00,2020,9,28,1,False,3,...,9.15,8.89,1121.17,1124.68,1130.68,1116.34,3340000,4.00,4.00,5.00
637,2020-09-29,3.00,20.00,19.00,2020,9,29,2,False,3,...,9.23,9.07,1123.25,1123.65,1132.27,1112.39,3800000,4.00,4.00,4.00
638,2020-09-30,3.00,138.00,125.00,2020,9,30,3,False,3,...,9.20,9.02,1145.24,1128.96,1146.73,1128.96,4310000,3.00,4.00,4.00

In [11]:
pr.generate_time_lags(col='Salecount',firstN=3)

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,lag1,lag2,lag3
3,2019-01-04,22.00,1045.00,886.00,2019,1,4,5,False,1,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,21.00,19.00,17.00
4,2019-01-05,20.00,139.00,118.00,2019,1,5,6,True,1,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,22.00,21.00,19.00
5,2019-01-06,14.00,238.00,202.00,2019,1,6,7,True,1,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,20.00,22.00,21.00
6,2019-01-07,13.00,280.00,237.00,2019,1,7,1,False,1,...,6.21,6.07,899.51,894.45,902.28,892.81,971550,14.00,20.00,22.00
7,2019-01-08,15.00,418.00,354.00,2019,1,8,2,False,1,...,6.31,6.15,906.97,902.48,907.76,893.62,981650,13.00,14.00,20.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,2020-09-26,4.00,124.00,115.00,2020,9,26,6,True,3,...,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000,5.00,5.00,4.00
635,2020-09-27,4.00,220.00,204.00,2020,9,27,7,True,3,...,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000,4.00,5.00,5.00
636,2020-09-28,4.00,391.00,337.00,2020,9,28,1,False,3,...,9.15,8.89,1121.17,1124.68,1130.68,1116.34,3340000,4.00,4.00,5.00
637,2020-09-29,3.00,20.00,19.00,2020,9,29,2,False,3,...,9.23,9.07,1123.25,1123.65,1132.27,1112.39,3800000,4.00,4.00,4.00
638,2020-09-30,3.00,138.00,125.00,2020,9,30,3,False,3,...,9.20,9.02,1145.24,1128.96,1146.73,1128.96,4310000,3.00,4.00,4.00

In [12]:
pr.adf_test(columns=['Salecount','Gross'])

Augmented Dickey-Fuller Test: Salecount
ADF test statistic      -3.78
p-value                  0.00
# lags used             17.00
# observations         299.00
critical value (1%)     -3.45
critical value (5%)     -2.87
critical value (10%)    -2.57
Strong evidence against the null hypothesis
Reject the null hypothesis
Data has no unit root and is stationary
Augmented Dickey-Fuller Test: Gross
ADF test statistic      -2.14
p-value                  0.23
# lags used              8.00
# observations         308.00
critical value (1%)     -3.45
critical value (5%)     -2.87
critical value (10%)    -2.57
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
Data has a unit root and is non-stationary

In [13]:
pr.date_transform(dateColumn='Date')

,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,Total_cases,...,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,WeekofYear,DayofWeek,Hour
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,17.00,338.00,286.00,2019,1,1,2,False,1,0,...,6.09,6.00,912.70,906.75,913.38,903.24,616240,1,1,0
2019-01-02,19.00,1174.00,995.00,2019,1,2,3,False,1,0,...,6.17,6.05,888.65,909.86,909.86,886.50,771040,1,2,0
2019-01-03,21.00,278.00,236.00,2019,1,3,4,False,1,0,...,6.63,6.11,873.99,883.76,895.45,873.99,959780,1,3,0
2019-01-04,22.00,1045.00,886.00,2019,1,4,5,False,1,0,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,1,4,0
2019-01-05,20.00,139.00,118.00,2019,1,5,6,True,1,0,...,6.25,6.05,888.31,878.94,891.21,878.94,918290,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-26,4.00,124.00,115.00,2020,9,26,6,True,3,312966,...,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000,39,5,0
2020-09-27,4.00,220.00,204.00,2020,9,27,7,True,3,314433,...,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000,39,6,0
2020-09-28,4.00,391.00,337.00,2020,9,28,1,False,3,315845,...,9.15,8.89,1121.17,1124.68,1130.68,1116.34,3340000,40,0,0
2020-09-29,3.00,20.00,19.00,2020,9,29,2,False,3,317272,...,9.23,9.07,1123.25,1123.65,1132.27,1112.39,3800000,40,1,0
2020-09-30,3.00,138.00,125.00,2020,9,30,3,False,3,318663,...,9.20,9.02,1145.24,1128.96,1146.73,1128.96,4310000,40,2,0

In [14]:
pr.likelihood(targetcol='Salecount',n_features=3)

2024-03-09 10:11:29.353 | INFO     | perlib.preprocessing.encode:handle:24 - Started encoding categorical features... Method: "AUTO"
2024-03-09 10:11:29.355 | DEBUG    | perlib.preprocessing.encode:handle:43 - Encoding to ONEHOT succeeded for feature "Weekend"
2024-03-09 10:11:29.357 | DEBUG    | perlib.preprocessing.encode:handle:50 - Encoding skipped for feature "Bist100_volume"
2024-03-09 10:11:29.358 | INFO     | perlib.preprocessing.encode:handle:61 - Completed encoding of categorical features in 0.004126 seconds

AutoProcess process completed in 0.013559 seconds
X_train shape : (293, 26)
X_test shape  : (24, 26)
Y_train shape : (293, 1)
Y test shape  : (24, 1)

['Year', 'USD_min', 'USD_close']

In [15]:
pr.plb(col='Salecount',period=7,timelag=3)

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Bist100_max,Bist100_min,Bist100_volume,1,2,3,4,5,6,7
0,2019-01-01,17.00,338.00,286.00,2019,1,1,2,False,1,...,913.38,903.24,616240,5.00,3.00,2.00,4.00,3.00,3.00,3.00
1,2019-01-02,19.00,1174.00,995.00,2019,1,2,3,False,1,...,909.86,886.50,771040,5.00,3.00,2.00,4.00,3.00,3.00,3.00
2,2019-01-03,21.00,278.00,236.00,2019,1,3,4,False,1,...,895.45,873.99,959780,5.00,3.00,2.00,4.00,3.00,3.00,3.00
3,2019-01-04,22.00,1045.00,886.00,2019,1,4,5,False,1,...,891.21,878.94,918290,5.00,3.00,2.00,4.00,3.00,3.00,3.00
4,2019-01-05,20.00,139.00,118.00,2019,1,5,6,True,1,...,891.21,878.94,918290,5.00,3.00,2.00,4.00,3.00,3.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,2020-09-26,4.00,124.00,115.00,2020,9,26,6,True,3,...,1135.07,1123.76,3990000,5.00,3.00,2.00,4.00,3.00,3.00,3.00
635,2020-09-27,4.00,220.00,204.00,2020,9,27,7,True,3,...,1135.07,1123.76,3990000,5.00,3.00,2.00,4.00,3.00,3.00,3.00
636,2020-09-28,4.00,391.00,337.00,2020,9,28,1,False,3,...,1130.68,1116.34,3340000,5.00,3.00,2.00,4.00,3.00,3.00,3.00
637,2020-09-29,3.00,20.00,19.00,2020,9,29,2,False,3,...,1132.27,1112.39,3800000,5.00,3.00,2.00,4.00,3.00,3.00,3.00
638,2020-09-30,3.00,138.00,125.00,2020,9,30,3,False,3,...,1146.73,1128.96,4310000,5.00,3.00,2.00,4.00,3.00,3.00,3.00

In [18]:
pr.replace(to_replace=17,value=1)

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,USD_min,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume
0,2019-01-01,1.00,338.00,286.00,2019,1,1,2,False,1,...,5.25,6.07,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240
1,2019-01-02,19.00,1174.00,995.00,2019,1,2,3,False,1,...,5.27,6.13,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040
2,2019-01-03,21.00,278.00,236.00,2019,1,3,4,False,1,...,5.39,6.23,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780
3,2019-01-04,22.00,1045.00,886.00,2019,1,4,5,False,1,...,5.31,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290
4,2019-01-05,20.00,139.00,118.00,2019,1,5,6,True,1,...,5.31,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,2020-09-26,4.00,124.00,115.00,2020,9,26,6,True,3,...,7.49,8.91,8.90,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000
635,2020-09-27,4.00,220.00,204.00,2020,9,27,7,True,3,...,7.49,8.91,8.90,8.94,8.75,1124.17,1129.03,1135.07,1123.76,3990000
636,2020-09-28,4.00,391.00,337.00,2020,9,28,1,False,3,...,7.65,9.10,8.92,9.15,8.89,1121.17,1124.68,1130.68,1116.34,3340000
637,2020-09-29,3.00,20.00,19.00,2020,9,29,2,False,3,...,7.76,9.18,9.10,9.23,9.07,1123.25,1123.65,1132.27,1112.39,3800000
638,2020-09-30,3.00,138.00,125.00,2020,9,30,3,False,3,...,7.70,9.04,9.18,9.20,9.02,1145.24,1128.96,1146.73,1128.96,4310000

In [19]:
pr.duplicated(columns=["Gross"])

0      False
1      False
2      False
3      False
4      False
       ...
634     True
635     True
636     True
637     True
638     True
Length: 317, dtype: bool

In [24]:
pr.replaceSpaceWithUnderscoreInColumns()

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,USD_min,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume
0,2019-01-01,1926.00,8968.00,8044.00,2019,1,1,2,False,1,...,5.25,6.07,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240
1,2019-01-02,1482.00,6640.00,5953.00,2019,1,2,3,False,1,...,5.27,6.13,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040
2,2019-01-03,826.00,8507.00,7401.00,2019,1,3,4,False,1,...,5.39,6.23,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780
3,2019-01-04,658.00,13660.00,11820.00,2019,1,4,5,False,1,...,5.31,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290
4,2019-01-05,1228.00,11536.00,10320.00,2019,1,5,6,True,1,...,5.31,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2022-03-27,1716.00,NaN,NaN,2022,3,27,7,True,1,...,14.72,16.28,16.30,16.44,16.23,2175.51,2179.50,2195.23,2173.64,"2,11B"
1182,2022-03-28,1323.00,NaN,NaN,2022,3,28,1,False,1,...,14.76,16.26,16.29,16.37,16.17,2172.48,2180.21,2192.92,2170.24,"2,83B"
1183,2022-03-29,1201.00,NaN,NaN,2022,3,29,2,False,1,...,14.56,16.16,16.27,16.55,16.14,2206.50,2181.76,2220.49,2181.76,"4,04B"
1184,2022-03-30,1551.00,NaN,NaN,2022,3,30,3,False,1,...,14.53,16.34,16.17,16.41,16.13,2230.15,2212.78,2233.53,2212.78,"3,58B"
1185,2022-03-31,1687.00,NaN,NaN,2022,3,31,4,False,1,...,14.58,16.23,16.35,16.45,16.22,2233.30,2236.21,2245.03,2220.79,"3,14B"

In [25]:
pr.renameColumn(oldColumnName="Salecount",newColumnName="Salecount_1")

,Date,Salecount_1,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,USD_min,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume
0,2019-01-01,1926.00,8968.00,8044.00,2019,1,1,2,False,1,...,5.25,6.07,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240
1,2019-01-02,1482.00,6640.00,5953.00,2019,1,2,3,False,1,...,5.27,6.13,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040
2,2019-01-03,826.00,8507.00,7401.00,2019,1,3,4,False,1,...,5.39,6.23,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780
3,2019-01-04,658.00,13660.00,11820.00,2019,1,4,5,False,1,...,5.31,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290
4,2019-01-05,1228.00,11536.00,10320.00,2019,1,5,6,True,1,...,5.31,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2022-03-27,1716.00,NaN,NaN,2022,3,27,7,True,1,...,14.72,16.28,16.30,16.44,16.23,2175.51,2179.50,2195.23,2173.64,"2,11B"
1182,2022-03-28,1323.00,NaN,NaN,2022,3,28,1,False,1,...,14.76,16.26,16.29,16.37,16.17,2172.48,2180.21,2192.92,2170.24,"2,83B"
1183,2022-03-29,1201.00,NaN,NaN,2022,3,29,2,False,1,...,14.56,16.16,16.27,16.55,16.14,2206.50,2181.76,2220.49,2181.76,"4,04B"
1184,2022-03-30,1551.00,NaN,NaN,2022,3,30,3,False,1,...,14.53,16.34,16.17,16.41,16.13,2230.15,2212.78,2233.53,2212.78,"3,58B"
1185,2022-03-31,1687.00,NaN,NaN,2022,3,31,4,False,1,...,14.58,16.23,16.35,16.45,16.22,2233.30,2236.21,2245.03,2220.79,"3,14B"

In [26]:
pr.dublicateColumn(column="Gross")

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,Gross_2
0,2019-01-01,1926.00,8968.00,8044.00,2019,1,1,2,False,1,...,6.07,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240,8968.00
1,2019-01-02,1482.00,6640.00,5953.00,2019,1,2,3,False,1,...,6.13,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040,6640.00
2,2019-01-03,826.00,8507.00,7401.00,2019,1,3,4,False,1,...,6.23,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780,8507.00
3,2019-01-04,658.00,13660.00,11820.00,2019,1,4,5,False,1,...,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,13660.00
4,2019-01-05,1228.00,11536.00,10320.00,2019,1,5,6,True,1,...,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,11536.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2022-03-27,1716.00,NaN,NaN,2022,3,27,7,True,1,...,16.28,16.30,16.44,16.23,2175.51,2179.50,2195.23,2173.64,"2,11B",NaN
1182,2022-03-28,1323.00,NaN,NaN,2022,3,28,1,False,1,...,16.26,16.29,16.37,16.17,2172.48,2180.21,2192.92,2170.24,"2,83B",NaN
1183,2022-03-29,1201.00,NaN,NaN,2022,3,29,2,False,1,...,16.16,16.27,16.55,16.14,2206.50,2181.76,2220.49,2181.76,"4,04B",NaN
1184,2022-03-30,1551.00,NaN,NaN,2022,3,30,3,False,1,...,16.34,16.17,16.41,16.13,2230.15,2212.78,2233.53,2212.78,"3,58B",NaN
1185,2022-03-31,1687.00,NaN,NaN,2022,3,31,4,False,1,...,16.23,16.35,16.45,16.22,2233.30,2236.21,2245.03,2220.79,"3,14B",NaN

In [27]:
pr.dublicateScalarColumnWithAction(column="USD_max",action="exp")

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,USD_max_exp_2
0,2019-01-01,1926.00,8968.00,8044.00,2019,1,1,2,False,1,...,6.07,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240,199.00
1,2019-01-02,1482.00,6640.00,5953.00,2019,1,2,3,False,1,...,6.13,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040,226.22
2,2019-01-03,826.00,8507.00,7401.00,2019,1,3,4,False,1,...,6.23,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780,340.36
3,2019-01-04,658.00,13660.00,11820.00,2019,1,4,5,False,1,...,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,239.32
4,2019-01-05,1228.00,11536.00,10320.00,2019,1,5,6,True,1,...,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,239.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2022-03-27,1716.00,NaN,NaN,2022,3,27,7,True,1,...,16.28,16.30,16.44,16.23,2175.51,2179.50,2195.23,2173.64,"2,11B",2983775.49
1182,2022-03-28,1323.00,NaN,NaN,2022,3,28,1,False,1,...,16.26,16.29,16.37,16.17,2172.48,2180.21,2192.92,2170.24,"2,83B",2979601.13
1183,2022-03-29,1201.00,NaN,NaN,2022,3,29,2,False,1,...,16.16,16.27,16.55,16.14,2206.50,2181.76,2220.49,2181.76,"4,04B",3044965.11
1184,2022-03-30,1551.00,NaN,NaN,2022,3,30,3,False,1,...,16.34,16.17,16.41,16.13,2230.15,2212.78,2233.53,2212.78,"3,58B",2526890.37
1185,2022-03-31,1687.00,NaN,NaN,2022,3,31,4,False,1,...,16.23,16.35,16.45,16.22,2233.30,2236.21,2245.03,2220.79,"3,14B",2506755.89

In [28]:
pr.dataFrame["String_value"]="aaaa"
pr.dublicateStringColumnWithAction(column="String_value",action="u")

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,String_value,String_value_upper_case_2
0,2019-01-01,1926.00,8968.00,8044.00,2019,1,1,2,False,1,...,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240,aaaa,AAAA
1,2019-01-02,1482.00,6640.00,5953.00,2019,1,2,3,False,1,...,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040,aaaa,AAAA
2,2019-01-03,826.00,8507.00,7401.00,2019,1,3,4,False,1,...,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780,aaaa,AAAA
3,2019-01-04,658.00,13660.00,11820.00,2019,1,4,5,False,1,...,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,aaaa,AAAA
4,2019-01-05,1228.00,11536.00,10320.00,2019,1,5,6,True,1,...,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,aaaa,AAAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2022-03-27,1716.00,NaN,NaN,2022,3,27,7,True,1,...,16.30,16.44,16.23,2175.51,2179.50,2195.23,2173.64,"2,11B",aaaa,AAAA
1182,2022-03-28,1323.00,NaN,NaN,2022,3,28,1,False,1,...,16.29,16.37,16.17,2172.48,2180.21,2192.92,2170.24,"2,83B",aaaa,AAAA
1183,2022-03-29,1201.00,NaN,NaN,2022,3,29,2,False,1,...,16.27,16.55,16.14,2206.50,2181.76,2220.49,2181.76,"4,04B",aaaa,AAAA
1184,2022-03-30,1551.00,NaN,NaN,2022,3,30,3,False,1,...,16.17,16.41,16.13,2230.15,2212.78,2233.53,2212.78,"3,58B",aaaa,AAAA
1185,2022-03-31,1687.00,NaN,NaN,2022,3,31,4,False,1,...,16.35,16.45,16.22,2233.30,2236.21,2245.03,2220.79,"3,14B",aaaa,AAAA

In [32]:
pr.dataFrame = pr.apply(columns=["Salecount", "Net"],function_string="x**2")

In [35]:
pr.dropColumns(columns=["Weekday", "Quarter"])

,Date,Salecount,Gross,Net,Year,Month,Day,Weekend,Total_cases,New_cases,...,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,String_value
0,2019-01-01,3709476.00,8968.00,64705936.00,2019,1,1,False,0,0,...,6.07,6.06,6.09,6.00,912.70,906.75,913.38,903.24,616240,aaaa
1,2019-01-02,2196324.00,6640.00,35438209.00,2019,1,2,False,0,0,...,6.13,6.08,6.17,6.05,888.65,909.86,909.86,886.50,771040,aaaa
2,2019-01-03,682276.00,8507.00,54774801.00,2019,1,3,False,0,0,...,6.23,6.12,6.63,6.11,873.99,883.76,895.45,873.99,959780,aaaa
3,2019-01-04,432964.00,13660.00,139712400.00,2019,1,4,False,0,0,...,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,aaaa
4,2019-01-05,1507984.00,11536.00,106502400.00,2019,1,5,True,0,0,...,6.07,6.23,6.25,6.05,888.31,878.94,891.21,878.94,918290,aaaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,2022-03-27,2944656.00,NaN,NaN,2022,3,27,True,14800178,11194,...,16.28,16.30,16.44,16.23,2175.51,2179.50,2195.23,2173.64,"2,11B",aaaa
1182,2022-03-28,1750329.00,NaN,NaN,2022,3,28,False,14814542,14364,...,16.26,16.29,16.37,16.17,2172.48,2180.21,2192.92,2170.24,"2,83B",aaaa
1183,2022-03-29,1442401.00,NaN,NaN,2022,3,29,False,14830732,16190,...,16.16,16.27,16.55,16.14,2206.50,2181.76,2220.49,2181.76,"4,04B",aaaa
1184,2022-03-30,2405601.00,NaN,NaN,2022,3,30,False,14845725,14993,...,16.34,16.17,16.41,16.13,2230.15,2212.78,2233.53,2212.78,"3,58B",aaaa
1185,2022-03-31,2845969.00,NaN,NaN,2022,3,31,False,14860061,14336,...,16.23,16.35,16.45,16.22,2233.30,2236.21,2245.03,2220.79,"3,14B",aaaa

In [36]:
pr.orderData(columns=["Salecount","Day"],asc=[True,False])

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,String_value
607,2020-08-30,484.00,6689.00,32455809.00,2020,8,30,7,True,3,...,8.73,8.70,8.75,8.66,1100.55,1112.88,1113.55,1094.84,2910000,aaaa
608,2020-08-31,729.00,6251.00,26873856.00,2020,8,31,1,False,3,...,8.77,8.73,8.81,8.70,1078.61,1101.78,1102.38,1076.07,2920000,aaaa
606,2020-08-29,841.00,4773.00,16467364.00,2020,8,29,6,True,3,...,8.73,8.70,8.75,8.66,1100.55,1112.88,1113.55,1094.84,2910000,aaaa
612,2020-09-04,841.00,6864.00,33698025.00,2020,9,4,5,False,3,...,8.80,8.81,8.84,8.74,1086.32,1075.57,1090.03,1072.80,2590000,aaaa
611,2020-09-03,841.00,7473.00,40525956.00,2020,9,3,4,False,3,...,8.81,8.75,8.83,8.70,1076.34,1085.88,1091.11,1074.34,2350000,aaaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2019-07-20,4844401.00,NaN,NaN,2019,7,20,6,True,3,...,6.34,6.34,6.37,6.31,1018.49,1023.82,1028.82,1016.65,1440000,aaaa
155,2019-06-05,4901796.00,NaN,NaN,2019,6,5,3,False,2,...,6.43,6.51,6.53,6.39,903.46,903.36,908.67,898.20,348580,aaaa
817,2021-03-28,4937284.00,NaN,NaN,2021,3,28,7,True,1,...,9.59,9.35,9.63,9.32,1382.15,1409.20,1412.35,1359.15,2950000,aaaa
724,2020-12-25,4995225.00,NaN,NaN,2020,12,25,5,False,4,...,9.21,9.24,9.27,9.17,1426.03,1429.07,1438.49,1422.71,2630000,aaaa
725,2020-12-26,5193841.00,NaN,NaN,2020,12,26,6,True,4,...,9.21,9.24,9.27,9.17,1426.03,1429.07,1438.49,1422.71,2630000,aaaa

In [37]:
pr.query(expr="Year>2019 &  Net>5000")

,Date,Salecount,Gross,Net,Year,Month,Day,Weekday,Weekend,Quarter,...,Euro_close,Euro_open,Euro_max,Euro_min,Bist100_close,Bist100_open,Bist100_max,Bist100_min,Bist100_volume,String_value
365,2020-01-01,190969.00,8968.00,64705936.00,2020,1,1,3,False,1,...,6.67,6.67,6.68,6.66,1144.25,1150.72,1153.12,1144.19,2230000,aaaa
366,2020-01-02,21025.00,6640.00,35438209.00,2020,1,2,4,False,1,...,6.65,6.67,6.68,6.65,1159.32,1149.03,1159.32,1145.66,2410000,aaaa
367,2020-01-03,11025.00,8507.00,54774801.00,2020,1,3,5,False,1,...,6.66,6.65,6.68,6.64,1136.84,1151.43,1155.71,1126.17,2930000,aaaa
368,2020-01-04,13924.00,13660.00,139712400.00,2020,1,4,6,True,1,...,6.66,6.65,6.68,6.64,1136.84,1151.43,1155.71,1126.17,2930000,aaaa
369,2020-01-05,18496.00,11536.00,106502400.00,2020,1,5,7,True,1,...,6.66,6.65,6.68,6.64,1136.84,1151.43,1155.71,1126.17,2930000,aaaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,2020-10-13,16900.00,6315.00,28494244.00,2020,10,13,2,False,4,...,9.29,9.32,9.34,9.29,1174.70,1180.98,1181.57,1170.79,3910000,aaaa
652,2020-10-14,15876.00,6335.00,29506624.00,2020,10,14,3,False,4,...,9.29,9.30,9.34,9.28,1189.29,1177.08,1189.66,1172.59,5860000,aaaa
653,2020-10-15,14400.00,4575.00,14853316.00,2020,10,15,4,False,4,...,9.28,9.29,9.33,9.27,1180.43,1188.41,1191.52,1175.20,4410000,aaaa
654,2020-10-16,17161.00,4700.00,15264649.00,2020,10,16,5,False,4,...,9.29,9.29,9.34,9.24,1192.73,1184.97,1193.83,1183.08,3950000,aaaa
655,2020-10-17,42849.00,5000.00,17952169.00,2020,10,17,6,True,4,...,9.29,9.29,9.34,9.24,1192.73,1184.97,1193.83,1183.08,3950000,aaaa

In [39]:
import pandas as pd
data1 = pd.DataFrame({'Day': [1, 2, 3],
         'Name': ['John', 'Alice', 'Bob'],
         'Salary': [50000, 60000, 70000]})
pr.dynamic_join(dataFrame=data1,join_cols=["Day"])

TypeError: dataPrepration.dynamic_join() got an unexpected keyword argument 'dataFrame'

In [40]:
pr.getTimeRelated()

['Date']

In [42]:
statistics = pr.getStatistics(columns=['Salecount', 'Gross'])
print("Statistics:")
print(statistics)

ERROR:perlib.preprocessing.preparate: String or NaN value found in column

Statistics:
{'Salecount': {'Mean': Salecount   1298988.79
dtype: float64, 'Std': Salecount   1133084.26
dtype: float64, 'Median': Salecount   1098304.00
dtype: float64, 'Kurtosis': Salecount   0.08
dtype: float64, 'Skewnes': Salecount   0.83
dtype: float64, 'Q1': Salecount   359105.25
dtype: float64, 'Q2': Salecount   1098304.00
dtype: float64, 'Q3': Salecount   1968409.00
dtype: float64}, 'Gross': {'Mean': Gross   17237.55
dtype: float64, 'Std': Gross   28383.93
dtype: float64, 'Median': Gross   8894.00
dtype: float64, 'Kurtosis': Gross   NaN
dtype: float64, 'Skewnes': Gross   NaN
dtype: float64, 'Q1': Gross   NaN
dtype: float64, 'Q2': Gross   NaN
dtype: float64, 'Q3': Gross   NaN
dtype: float64}}

In [43]:
grouped_df = pr.groupByOperations(group_cols=['Salecount'], agg_cols={'Gross': 'mean'})
print("Grouped DataFrame:")
print(grouped_df)

Grouped DataFrame:
     Salecount  Gross_mean
0       484.00     6689.00
1       729.00     6251.00
2       841.00     6078.50
3       900.00     8590.00
4       961.00     9286.00
..         ...         ...
826 4844401.00         NaN
827 4901796.00         NaN
828 4937284.00         NaN
829 4995225.00         NaN
830 5193841.00         NaN

[831 rows x 2 columns]

In [44]:
filtered_df = pr.filterValue(columns=['Day'], value=25, action='==')
print("Filtered DataFrame:")
print(filtered_df)

Filtered DataFrame:
            Date  Salecount    Gross           Net  Year  Month  Day  Weekday  \
24    2019-01-25  423801.00  8163.00   54567769.00  2019      1   25        5
55    2019-02-25 2524921.00      NaN           NaN  2019      2   25        1
83    2019-03-25 1411344.00      NaN           NaN  2019      3   25        1
114   2019-04-25  400689.00      NaN           NaN  2019      4   25        4
144   2019-05-25 1948816.00      NaN           NaN  2019      5   25        6
175   2019-06-25  720801.00      NaN           NaN  2019      6   25        2
205   2019-07-25 1909924.00      NaN           NaN  2019      7   25        4
236   2019-08-25 1865956.00      NaN           NaN  2019      8   25        7
267   2019-09-25 1734489.00      NaN           NaN  2019      9   25        3
297   2019-10-25 1653796.00      NaN           NaN  2019     10   25        5
328   2019-11-25 3326976.00      NaN           NaN  2019     11   25        1
358   2019-12-25  577600.00      NaN           NaN  2019     12   25        3
389   2020-01-25   10404.00  8163.00   54567769.00  2020      1   25        6
420   2020-02-25   12321.00  5006.00   18610596.00  2020      2   25        2
449   2020-03-25   12996.00  9014.00   65512836.00  2020      3   25        3
480   2020-04-25    6084.00  5229.00   19580625.00  2020      4   25        6
510   2020-05-25  729316.00 55408.00 2221142641.00  2020      5   25        1
541   2020-06-25    3721.00  6999.00   32239684.00  2020      6   25        4
571   2020-07-25   46656.00  7631.00   48038761.00  2020      7   25        6
602   2020-08-25   96100.00 13942.00  154728721.00  2020      8   25        2
633   2020-09-25   37249.00 14708.00  165122500.00  2020      9   25        5
663   2020-10-25 1050625.00      NaN           NaN  2020     10   25        7
694   2020-11-25 1149184.00      NaN           NaN  2020     11   25        3
724   2020-12-25 4995225.00      NaN           NaN  2020     12   25        5
755   2021-01-25  389376.00      NaN           NaN  2021      1   25        1
786   2021-02-25 1317904.00      NaN           NaN  2021      2   25        4
814   2021-03-25  395641.00      NaN           NaN  2021      3   25        4
845   2021-04-25  693889.00      NaN           NaN  2021      4   25        7
875   2021-05-25  968256.00      NaN           NaN  2021      5   25        2
906   2021-06-25  850084.00      NaN           NaN  2021      6   25        5
936   2021-07-25 1315609.00      NaN           NaN  2021      7   25        7
967   2021-08-25  660969.00      NaN           NaN  2021      8   25        3
998   2021-09-25  667489.00      NaN           NaN  2021      9   25        6
1028  2021-10-25 1493284.00      NaN           NaN  2021     10   25        1
1059  2021-11-25 1920996.00      NaN           NaN  2021     11   25        4
1089  2021-12-25  984064.00      NaN           NaN  2021     12   25        6
1120  2022-01-25 3591025.00      NaN           NaN  2022      1   25        2
1151  2022-02-25 2307361.00      NaN           NaN  2022      2   25        5
1179  2022-03-25 1317904.00      NaN           NaN  2022      3   25        5

      Weekend  Quarter  ...  Euro_close  Euro_open  Euro_max  Euro_min  \
24      False        1  ...        6.01       5.95      6.02      5.94
55      False        1  ...        6.02       6.03      6.05      6.00
83      False        1  ...        6.28       6.52      6.52      6.27
114     False        2  ...        6.59       6.56      6.66      6.54
144      True        2  ...        6.81       6.82      6.86      6.76
175     False        2  ...        6.58       6.62      6.65      6.55
205     False        3  ...        6.36       6.36      6.43      6.28
236      True        3  ...        6.42       6.39      6.44      6.35
267     False        3  ...        6.20       6.28      6.29      6.20
297     False        4  ...        6.40       6.40      6.43      6.38
328     False        4  ...        6.31       6.30      6.34      6.28
358     False        4  ...        6.58       6.59      6.60      6.57
389      True        1  ...        6.55       6.56      6.57      6.54
420     False        1  ...        6.68       6.64      6.70      6.58
449     False        1  ...        6.98       6.93      7.02      6.90
480      True        2  ...        7.54       7.49      7.56      7.47
510     False        2  ...        7.42       7.43      7.44      7.40
541     False        2  ...        7.69       7.71      7.72      7.65
571      True        3  ...        7.98       7.94      7.99      7.92
602     False        3  ...        8.74       8.70      8.77      8.68
633     False        3  ...        8.91       8.90      8.94      8.75
663      True        4  ...        9.44       9.38      9.46      9.34
694     False        4  ...        9.45       9.52      9.55      9.41
724     False        4  ...        9.21       9.24      9.27      9.17
755     False        1  ...        8.99       9.02      9.05      8.96
786     False        1  ...        8.93       8.72      9.08      8.71
814     False        1  ...        9.34       9.37      9.46      9.30
845      True        2  ...       10.13      10.00     10.19      9.96
875     False        2  ...       10.36      10.25     10.40     10.23
906     False        2  ...       10.44      10.39     10.51     10.33
936      True        3  ...       10.06      10.08     10.10     10.01
967     False        3  ...        9.85       9.89      9.91      9.81
998      True        3  ...       10.40      10.29     10.43     10.27
1028    False        4  ...       11.12      11.19     11.48     11.06
1059    False        4  ...       13.32      13.54     13.75     13.22
1089     True        4  ...       12.05      12.92     13.95     11.73
1120    False        1  ...       15.23      15.25     15.44     15.00
1151    False        1  ...       15.57      15.71     15.88     15.40
1179    False        1  ...       16.28      16.30     16.44     16.23

      Bist100_close  Bist100_open  Bist100_max  Bist100_min  \
24          1018.01       1021.23      1023.20      1012.00
55          1043.30       1038.75      1051.46      1038.75
83           993.26       1000.27      1003.82       983.67
114          944.99        963.51       964.57       938.92
144          860.72        849.89       864.96       849.86
175          954.21        950.66       959.94       946.19
205         1020.45       1036.76      1041.54      1016.05
236          971.49        956.88       974.04       952.71
267         1026.18       1016.96      1026.18      1015.56
297         1002.16       1002.72      1006.73      1000.43
328         1053.82       1071.93      1078.46      1052.22
358         1133.29       1133.97      1135.85      1130.63
389         1221.42       1236.94      1239.36      1207.61
420         1143.65       1156.26      1159.92      1138.50
449          890.63        905.19       919.59       881.23
480          987.59        984.49       994.97       979.29
510         1030.24       1024.54      1033.07      1020.14
541         1141.39       1143.92      1149.75      1134.20
571         1192.02       1185.01      1192.02      1182.21
602         1092.16       1114.05      1118.24      1083.14
633         1124.17       1129.03      1135.07      1123.76
663         1190.63       1200.38      1204.55      1179.46
694         1325.47       1330.07      1341.91      1323.42
724         1426.03       1429.07      1438.49      1422.71
755         1540.21       1556.57      1560.13      1536.97
786         1488.21       1510.32      1514.81      1460.36
814         1394.36       1416.99      1432.62      1394.19
845         1345.15       1320.16      1345.50      1309.23
875         1400.22       1457.48      1459.26      1400.22
906         1391.86       1413.99      1414.88      1391.69
936         1351.59       1357.93      1357.93      1348.39
967         1453.30       1465.28      1471.43      1451.92
998         1384.68       1397.36      1397.36      1376.01
1028        1492.93       1474.97      1495.10      1470.59
1059        1819.23       1816.38      1833.76      1805.97
1089        1891.28       1820.67      1891.28      1808.93
1120        1945.07       1927.82      1953.33      1880.18
1151        1952.40       1883.04      1964.99      1866.34
1179        2175.51       2179.50      2195.23      2173.64

          Bist100_volume  String_value
24               1350000          aaaa
55               1710000          aaaa
83               1630000          aaaa
114              1230000          aaaa
144              1290000          aaaa
175              1240000          aaaa
205              1640000          aaaa
236              1100000          aaaa
267              1560000          aaaa
297              1120000          aaaa
328              2240000          aaaa
358              1980000          aaaa
389              2370000          aaaa
420              2510000          aaaa
449              2640000          aaaa
480              2240000          aaaa
510              1570000          aaaa
541              3640000          aaaa
571              3170000          aaaa
602              3130000          aaaa
633              3990000          aaaa
663              4400000          aaaa
694              5580000          aaaa
724              2630000          aaaa
755              4810000          aaaa
786              4430000          aaaa
814              3510000          aaaa
845   2089999.9999999998          aaaa
875              3340000          aaaa
906              1500000          aaaa
936               498070          aaaa
967              1860000          aaaa
998   2029999.9999999998          aaaa
1028             3060000          aaaa
1059             3400000          aaaa
1089             2530000          aaaa
1120             2650000          aaaa
1151               3,30B          aaaa
1179               2,11B          aaaa

[39 rows x 28 columns]

In [47]:
null_columns = pr.checkNullColumns(columns=['Salecount', 'Gross'])
print("Null columns:\n", null_columns)

Null columns:
 Salecount    False
Gross         True
dtype: bool

In [48]:
nulls_in_columns = pr.getNullsInColumns(columns=['Salecount', 'Gross'])
print("Nulls in columns:\n", nulls_in_columns)

Nulls in columns:
       Salecount  Gross
0         False  False
1         False  False
2         False  False
3         False  False
4         False  False
...         ...    ...
1181      False   True
1182      False   True
1183      False   True
1184      False   True
1185      False   True

[1186 rows x 2 columns]

In [52]:
grouped_df = pr.groupByOperations(group_cols=['Salecount'], agg_cols={'Gross': ['sum', 'mean'], 'Day': 'max'})
print("Grouped DataFrame:\n", grouped_df)

Grouped DataFrame:
      Salecount  Gross_sum  Gross_mean  Day_max
0       484.00    6689.00     6689.00       30
1       729.00    6251.00     6251.00       31
2       841.00   24314.00     6078.50       29
3       900.00    8590.00     8590.00        1
4       961.00    9286.00     9286.00        5
..         ...        ...         ...      ...
826 4844401.00       0.00         NaN       20
827 4901796.00       0.00         NaN        5
828 4937284.00       0.00         NaN       28
829 4995225.00       0.00         NaN       25
830 5193841.00       0.00         NaN       26

[831 rows x 4 columns]

In [55]:
cov_matrix = pr.getCov(columns=['Salecount', 'Gross'])
print("Covariance matrix:\n", cov_matrix)

Covariance matrix:
                  Salecount         Gross
Salecount 1283879944891.09 7543880967.72
Gross        7543880967.72  805647484.00

In [56]:
sample_by_number = pr.getSampleByNumber(n=2, columns=['Salecount', 'Day'])
print("Sample by number:\n", sample_by_number)

Sample by number:
      Salecount  Day
706 1710864.00    7
978 1809025.00    5

In [57]:
sample_with_frac = pr.getSampleWithFrac(frac=0.5, columns=['Salecount', 'Day'])
print("Sample with fraction:\n", sample_with_frac)

Sample with fraction:
       Salecount  Day
557     1681.00   11
1171  817216.00   17
120   416025.00    1
841  4787344.00   21
421     8464.00   26
...         ...  ...
727  1040400.00   28
1    2196324.00    2
425     8836.00    1
615     3025.00    7
650    21025.00   12

[593 rows x 2 columns]

In [59]:
indices = pr.findValues(values=[30, 40], columns=['Day'])
print("Indices of matching values:\n", indices)

Indices of matching values:
 {'Day': [29, 88, 119, 149, 180, 210, 241, 272, 302, 333, 363, 394, 454, 485, 515, 546, 576, 607, 638, 668, 699, 729, 760, 819, 850, 880, 911, 941, 972, 1003, 1033, 1064, 1094, 1125, 1184]}

In [64]:
filtered_df = pr.filterValue(columns=['Salecount', 'Day'], value='False', action='equal')
print("Filtered DataFrame:\n", filtered_df)

Filtered DataFrame:
 Empty DataFrame
Columns: [Date, Salecount, Gross, Net, Year, Month, Day, Weekday, Weekend, Quarter, Total_cases, New_cases, Total_deaths, New_deaths, USD_close, USD_open, USD_max, USD_min, Euro_close, Euro_open, Euro_max, Euro_min, Bist100_close, Bist100_open, Bist100_max, Bist100_min, Bist100_volume, String_value]
Index: []

[0 rows x 28 columns]